@media (max-width: 768px) {
    #menu {
        display: block;
    }
    ul#menu li {
        padding:2rem 2vw;
    }

    #menu {
        display:none;
    }
    #menu.open {
        display:block;
    }
    #hamburger-menu::before {
        content: "\2630";
    }
    #hamburger-menu.open::before {
        content: "X";
    }
    #weather-section {
        display:block;
    }
    .main-card {
        display:flex;
        align-items: center;
    }
    #company-spotlights {
        display: block;
    }
    footer {
        display:block;
        align-items: center;
    }
    .social-icons img {
        max-width: 50px;
    }
    #join-main-section {
        display:block;
    }
}