@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans&display=swap');

@media screen and (max-width:1250px) {
    main {
        display:block !important;
    }
}

p {
    font-size:1.5rem;
}

.oswald, h1 {
    font-family: "Oswald";
}
.reddit-sans, p {
    font-family: "Reddit Sans";
}

.page-title {
    font-size:3rem;
}

header, footer {
    background-color: #9E8FB2;
    padding:1rem;
    color:white;
    text-align:center;
}

main div {
    padding:0 1rem 1rem 0;
}

main div h1 {
    font-size:2.2rem;
}

main {
    padding:2rem;
    display:grid;
    grid-template-columns: auto auto;
}

img {
    width: 100%;
    height: auto;
}

.color-schema-section {
    grid-template-columns: 1 / 3;
}

.colors {
    display:flex;
    justify-content:space-between;
}

.colors {
    padding-right: 2rem;
}